@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

:root {
  --primary-font: "Hind Siliguri";
  --primary-color: #002c53;
  --secondary-color: #f0c456;
  --last-color: #ffa155;
  --bg-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}

/* Topbar Start */
#topbar {
  background: var(--primary-color);
}
.topbar_content {
  display: flex;
  margin: 10px 0px;
  gap: 10px;
  flex-direction: row;
}
.topbar_content_address {
  display: flex;
  gap: 5px;
  font-family: var(--primary-font);
  align-items: center;
}

.topbar_content_address a {
  font-size: 19px;
  color: #fff;
  text-decoration: none;
  font-family: var(--primary-font);
}
.topbar_content_address a img {
  margin-top: 3px !important;
}

.border-left {
  border-right: 1px solid #fff;
  padding-right: 10px;
}
.topbar_content_address img {
  width: 25px;
}
.topbar_imgs {
  padding-top: 5px !important;
}
.topbar_img img {
  width: 35px !important;
}

@media screen and (max-width: 1000px) {
  .topbar_content {
    flex-direction: column;
  }
}

@media screen and (max-width: 990px) {
  #topbar {
    display: none;
  }
}

/* Topbar End */

/* Branding Header Start  */
#header {
  background: url(../image/web_bd_bg.png);
  padding: 20px 0px;
  margin: 0px;
  background-repeat: repeat;
}


.header_border_right {
  border-right: 1px solid #000000;
  padding-right: 10px;
  display: inline-block;
}


.header_logo {
  position: absolute;
}
.header_logo img {
  width: 180px;
  height: 180px;
  z-index: 999;
}


.header_wapper {
  position: relative;
}


.header_content h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: var(--primary-color);
  font-family: var(--primary-font);
}


.header_content h2 {
  font-size: 27px;
  line-height: 35px;
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: 800;
  text-align: center;
}

.header_content p {
  font-size: 18px;
  line-height: 30px;
  color: var(--primary-color);
  font-family: var(--primary-font);
  text-align: center;
  font-weight: 800;
}

.header_content_heading {
  display: flex;
  justify-content: center;
}

.header_content_heading_address a {
  text-decoration: none;
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 800;
}

@media screen and (max-width: 1200px) {
  .header_content h2 {
    font-size: 20px;
  }
  .header_content h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 1030px) {
  .header_content h2 {
    font-size: 16px;
  }
  .header_content h1 {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
  }
}


@media screen and (max-width: 990px) {
  .header_logo {
   position: relative;
  }
  .header_logo img {
display: block;
margin: auto;
width: 140px;
height: 140px;
  }
}

@media screen and (max-width: 780px) {
  .header_content {
    margin-top: 20px;
  }
  .header_content h2 {
    font-size: 20px;
    text-align: center;
    margin-left: 0px !important;
  }
  .header_content h1 {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
  }
}

@media screen and (max-width: 600px) {
  .header_logo {
   position: relative;
  }

  .header_logo img {
display: block;
margin: auto;
width: 140px;
height: 140px;
  }

} 

@media screen and (max-width: 500px) {
  .header_content h2 {
    font-size: 16px;
    line-height: 20px;
  }

  .header_content h1 {
    text-align: center;
    font-size: 20px;
    line-height: 25px;
  }

  .header_content p {
    text-align: center;
    font-size: 12px;
  }

}

@media screen and (max-width: 400px) {
  .header_content h1 {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
  }

  .header_content p {
    text-align: center;
    font-size: 12px;
  }

  .header_content_heading_address a {
    font-size: 14px !important;
  }

}


@media screen and (max-width: 400px) {
  .header_content_heading_address a {
    font-size: 16px;
  }
}

/* Branding Header End */


/* Navbar Start */

#navbar {
  background-color: #ffa155 !important;

}


.nav_items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;

}

.nav_items li a {
  cursor: pointer;
  font-size: 20px !important;
  font-family: var(--primary-font);
  font-weight: 800;
}

.nav_items li {
  position: relative;
  padding: 15px 0 !important;
}

.nav_items ul {
  opacity: 0;
  position: absolute;
  top: 160%;
  visibility: hidden;
  transition: 0.2s ease;
  -webkit-transition: 0.3s ease;
  background: url(../image/Group\ 291.png), rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: start;
  width: 250px;
  display: block;
  border-top: 3px solid var(--primary-color) !important;
  z-index: 999 !important;
}

.nav_items li:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
  display: block;
}

.nav_items ul li {
  padding: 0 !important;
  border-left: 2px solid var(--bg-color);
  transition: .5s ease-in-out;

}
.nav_items ul li:hover {
  padding: 0 !important;
border-left: 2px solid var(--primary-color);
}

.nav_items ul li a {
  width: 100%;
  font-weight: 500;
  z-index: 999 !important;
  font-size: 16px !important;
  text-decoration: none !important;
  transition: .5s ease-in-out;
}
.nav_items ul li a:hover{
  width: 100%;
  font-weight: 500;
  color: var(--primary-color);
  z-index: 999 !important;
  font-size: 16px !important;
  text-decoration: none !important;
}

.nav_items li a img {
  width: 10px;
  margin-left: 5px;
}

.nav_items li a {
  text-decoration: none;
  display: block;
  color: var(--primary-color);
  padding: 10px 8px;
  margin: 0 !important;
}

.nav-item .nav-link {
  margin: 0 !important;
}

.nav_items li ul li:hover {
  opacity: 999 !important;
}

.nav_items li ul li a:hover {
  text-decoration: none !important;
}

.nav_toggle_btn {
  display: block;
  width: 50px;
  margin: auto;
  padding: 20px 0;
  cursor: pointer;
  text-align: center;
  display: none;
}

.nav_toggle_btn i {
  color: var(--bg-color);
  font-size: 1.6em;
}

@media screen and (max-width: 1200px) {
  .nav_items li a {
    font-size: 16px !important;
  }
  .nav_items ul {
    width: 170px;
  }

}

@media screen and (max-width: 1300px) {
  .nav_items li a {
    font-size: 16px !important;
  }
  .nav_items ul {
    width: 200px;
  }

}
@media screen and (max-width: 1050px) {
  .nav_items li a {
    font-size: 16px !important;
  }
  .nav_items ul {
    width: 150px;
  }

}

@media screen and (max-width: 990px) {
  .nav_toggle_btn {
    display: block;
  }

  .nav_items {
    display: block;
    visibility: hidden;
    height: 0;

    z-index: 9999 !important;
  }

  .nav_items.active {
    visibility: visible;
    height: auto;
  }
  .nav_items ul {
    width: 250px;
  }
}



/* Navbar End */

/* Hero Start */
#class_routine_hero {
    background: url(../image/bg_class_routine.png);
    width: 100%;
    height: 50vh;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.class_routine_hero_content {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.class_routine_hero_content h1 {
    margin-top: 15vh;
    color: var(--bg-color);
    display: block;
}


.class_routine_hero_img_line  {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.class_routine_hero_img_line img{
width: 350px;
}

@media screen and (max-width: 500px) {
  .class_routine_hero_img_line img{
    width: 300px;
    }
 
}
@media screen and (max-width: 400px) {
  .class_routine_hero_img_line img{
    width: 250px;
    }
 
}

/* Hero  End 

/* Class Routine Start */
#class_routine {
    padding: 30px 0;
    background: url(../image/web_bd_bg-01.png);
}

.class_routine_content {
    border: 1px solid var(--primary-color);
    width: 100%;
  
    padding: 25px;
    background: var(--bg-color);
}

.class_routine_content_headimg h1 {
    display: inline-block;
    border-bottom: 2px solid var(--primary-color);
    font-size: 27px;
    font-weight: 500;
    padding: 4px;
    color: var(--primary-color);
}

.class_routine_box {
    border: 1px solid var(--primary-color);
    width: 100%;
    aspect-ratio: 1/1;
 
}

.class_routine_box_content {
padding: 20px 0;
border-bottom: 1px solid var(--last-color);

}

.class_routine_box_heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: rgba(255, 229, 165, 1);
}

.class_routine_box_heading h1{
text-align: center;
display: inline-block;
border-bottom: 2px solid var(--primary-color);
font-size: 25px;
font-weight: 500;
color: var(--primary-color);
padding: 4px;
}

.class_routine_img img{
    width: 100%;
}

.class_routine_btn {
  padding: 20px;
}

.class_routine_btn_img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.class_routine_btn_text {
     border: 1px solid var(--last-color);
  display: inline-block;
  margin: auto; 
  padding: 5px 20px;
  background: rgba(206, 133, 34, 1);
  transition: .5s ease-in-out;
}

.class_routine_btn_text a:nth-child(1){
  width: 35px !important;
  height: 35px !important;
  border: 1px solid #ffffff !important;
  border-radius: 50% !important;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  line-height: 30px;
  padding-left: 5px;
  background: #ffffff;
  transition: .5s ease-in-out;

}

.class_routine_btn_text a {
  text-decoration: none;
  font-size: 16px;
  color: var(--bg-color);
  font-weight: 500;
  transition: .5s ease-in-out;
}


.class_routine_btn_text:hover.class_routine_btn_text a:nth-child(1) 
 {
  background: rgba(206, 133, 34, 1) !important;

}
.class_routine_btn_text:hover.class_routine_btn_text a:nth-child(1) svg path
 {
fill: var(--bg-color);

}

.class_routine_btn_text:hover {
  background: var(--bg-color);
}

.class_routine_btn_text:hover.class_routine_btn_text a {
color: var(--primary-color);
}

@media screen and (max-width: 500px) {
  .class_routine_btn_text a {
   font-size: 13px;
    }
 
}


/* Class Routine End */

/* Footer Start */
#footer {
  background: url(../image/footer_background_img_01.png), rgb(255, 229, 175);
  padding: 40px;
}

.footer_content_icon_img img {
  display: block;
  margin: auto;
  width: 180px;
  height: 180px;
}

.footer_content_icon_pragraph p {
  width: 280px;
  text-align: center;
  font-weight: 500;
  font-size: 19px;
  margin: auto;
}

.footer_content_menu_icon {
 display: block;
margin: auto;
text-align: center;
justify-content: center;


}

.footer_content_menu_icon a {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  display: inline-block;
  border: 1px solid var(--primary-color);
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.footer_content_menu_icon a i {
  display: block;
  text-align: center;
line-height: 45px;
align-items: center;
font-size: 25px;
}

.footer_content_menu_icon a:hover {
  background: linear-gradient(
    120deg,
    rgba(0, 44, 83, 1),
    rgba(206, 133, 34, 1)
  );
  border: 1px solid transparent;
}

.footer_content_menu_icon a:hover .fa-brands {
  color: #ffff !important;
}

@media screen and (max-width: 780px){
  .footer_content_icon_img img {
    display: inline-block;
  }
  .footer_content_icon_pragraph p {
    text-align: start;
    margin: 0;
  }
.footer_content_menu_icon {
  display: inline-block;

}

.footer_content_menu_icon a {
  margin-left: 5px;
  margin-top: 20px;
}

}

.footer_address_heading h1 {
  font-size: 30px;
  font-weight: 800;
}

.footer_address_menu {
  display: flex;
gap: 10px;
}

.footer_content_page_heading img {
  padding: 0;
  margin: 0;
}

.footer_address_img a{
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  justify-content: center;
  line-height: 35px;
  border: 1px solid var(--primary-color);
}

.footer_address_img img {
  width: 22px;

}

.footer_address_text h2 {
  font-size: 18px;
  font-weight: 800;
line-height: 35px;
  color: var(--primary-color);
}

@media screen and (max-width: 1200px){
  .footer_address_text h2 {
    font-size: 15px;

  }

}
@media screen and (max-width: 1015px){
  .footer_address_text h2 {
    font-size: 14px;

  }
  .footer_address_heading h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 990px){
  .footer_address_text h2 {
    font-size: 16px;

  }
  .footer_address_heading h1 {
    font-size: 25px;
  }
}

.footer_content_page_heading h1 {
  font-size: 30px;
  font-weight: 800;
}

.footer_page_content_img {
  position: relative;
}

.institution_gallery_content_img_overlay h2 {
  padding-top: 25px;
  padding-left: 25px;
  font-size: 20px;
  color: var(--bg-color);
  font-weight: 800;
}

.footer_page_content_img_overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  background: rgba(0, 44, 83, 0.5);
  height: 0;
  transition: 0.5s ease-in-out;
}

.footer_page_content_img:hover .footer_page_content_img_overlay {
  height: 40%;
}

.footer_page_content_img_overlay {
  display: flex;
  gap: 20px;
}

.footer_page_content_img_overlay_logo img {
  width: 60px;
  margin-left: 10px;
}

.footer_page_content_img_overlay_text h2 {
  font-size: 16px;
  color: var(--bg-color);
  font-weight: 800;
}
.footer_page_content_img_overlay_text h2 a {
  font-size: 16px;
  color: var(--bg-color);
  font-weight: 800;
  transition:  .5s ease;
  text-decoration: none;
}
.footer_page_content_img_overlay_text h2 a:hover {
  font-size: 16px;
  color: var(--bg-color);
  font-weight: 800;
  transition:  .5s ease;
  text-decoration: underline;
}

.footer_page_content_img_overlay_text p {
  font-size: 14px;
  color: var(--bg-color);
  
}
.footer_page_content_img_overlay_text p a{
  font-size: 14px;
  color: var(--bg-color);
  transition:  .5s ease;
  text-decoration: none;

}
.footer_page_content_img_overlay_text p a:hover{
  font-size: 14px;
  color: var(--bg-color);
  transition:  .5s ease;
  text-decoration: underline;

}



@media screen and (max-width: 780px) {
  .footer_content_icon_img {
    width: 250px;
    margin: auto;
    display: inline;
  }
  .footer_content_icon_pragraph p {
    text-align: left;
  }
}

@media screen and (max-width: 1200px) {
  .footer_content_page_heading h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 450px) {
  .footer_page_content_img_overlay_logo img {
    width: 50px;
  }
  .footer_page_content_img_overlay_text h2 {
    font-size: 14px;
  }
}

/* Footer End */

/* Copy_Right Start */
#copy_right {
  background: rgba(31, 36, 41, 1);
  padding: 5px;
}
.copy_right_content h1 {
  display: block;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  margin: 0px !important;
  color: var(--bg-color);
}
.copy_right_content h1 img {
  width: 20px;
  margin-right: 5px;
}
.copy_right_content p {
  padding: 0px !important;
  margin: 0px !important;
  font-size: 18px;
  color: var(--bg-color);
}

@media screen and (max-width: 400px) {
  .copy_right_content h1 {
    font-size: 15px;
  }
  .copy_right_content p {
    font-size: 14px;
  }
}
/* Copy_Right End */

/* Back To Top btn  */


.gobtn {
  border: 2px solid var(--primary-color);
  text-align: center;
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 55px;
  bottom: 40px;
  right: 40px;
}
.gobtn:hover {
  background: linear-gradient(
    120deg,
    rgba(0, 44, 83, 1),
    rgba(206, 133, 34, 1)
  );
  border: 2px solid  transparent
  !important;
}

.gobtn i {
    color: #000000;
  font-size: 1.6em;
}

.gobtn:hover .fa-solid {
  color: var(--bg-color) !important;
  border-color: #fff;
}

.gobtn a {
  color: var(--bg-color);
}
/* Back To Top btn */
