@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

:root {
  --primary-font: "Hind Siliguri";
  --primary-color: #002c53;
  --secondary-color: #f0c456;
  --last-color: #ffa155;
  --bg-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}


body {
    /* line-height: 1.5; */
    overflow-x: hidden;
}

/* Banner Start */
.banner {
    background: url(./image/hero_bg.jpg);
    width: 100%;
    height: 100vh;
    display: block;
    background-size: cover;
    background-position: center;
}

/* Banner End */

/* Header Start  Here*/
.header {
    display: block;
    /* width: 100%; */
    z-index: 99;
    position: relative;
    /* padding: 15px; */
    background-color: var(--last-color);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.v-center {
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.header .item_left {
    flex: 0 0 0%;
    display: none;
}

/* .header .header_logo a {
    font-size: 30px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
} */

.header .item_center {
    flex: 0 0 100%;
}

.header .item_right {
    flex: 0 0 0%;
    display: flex;
    justify-content: flex-end;
    display: none;
   
}

/* .header .item_right a i{
    text-decoration: none;
    font-size: 18px !important;
    display: inline-block;
    color: #555 !important;
    margin-left: 10px;
    padding-top: 10px;
    transition: color .3s ease;

}

.header .item_right a i:hover{
    color: #ea4636 !important;
} */

.header .menu > ul > li {
    display: inline-block;
    line-height: 30px;
    margin-left: 20px;
}

.header .menu>ul>li>a {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 500;
    position: relative;
    text-transform: capitalize;
    transition: color .3s ease;
    text-decoration: none;
  padding-top: 10px ;
  display: block;
}

.header .menu>ul>li:hover>a {
    color: var(--primary-color);
}


.header .menu>ul>li .sub_menu {
    position: absolute;
    z-index: 500;
    background: url(../image/Group\ 291.png), rgb(255, 255, 255);
    box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, .3);
    /* padding: 10px 30px; */
    transition: all .5s ease;
    margin-top: 25px;
    opacity: 0;
    visibility: hidden;
    border-top: 3px solid var(--primary-color);
}



@media screen and (max-width:1200px) {
    .header .menu > ul > li {
        margin-left: 15px !important;
    }
    .header .menu>ul>li>a {
        font-size: 15px;
    }
    .header .item_center {
        /* order: 3 !important; */
        flex: 0 0 100%;
    }
}


@media screen and (min-width:992px) {
    .header .menu>ul>li.menu_item_has_children:hover .sub_menu {
        margin-top: 12px;
        visibility: visible;
        opacity: 1;
    }
}


.header .item_right  {
    display: block;
}


.header .menu>ul>li .single_column_menu {
    min-width: 250px;
    max-width: 300px;
}

.header .menu>ul>li .sub_menu>ul>li {
    line-height: 1;
}

.header .menu>ul>li .sub_menu>ul>li>a {
    display: inline-block;
    padding: 10px 0;
    font-size: 18px;
    color: var(--primary-color);
    transition: color .3s ease;
    text-decoration: none;
    text-transform: capitalize;

}

.header .menu>ul>li .sub_menu>ul>li>a:hover {
    color: var(--primary-color);
}

.mobile_menu_heading,
.mobile_menu_trigger {
    display: none;
}


@media screen and (max-width:991px) {
    .header .item_center {
        order: 3 !important;
        flex: 0 0 100%;
    }

    .header .item_left,
    .header .item_right {
        flex: 0 0 auto;
    }

    .v-center {
        justify-content: space-between;
    } 

    .header .mobile_menu_trigger {
        display: flex;
       
        height: 30px;
        width: 30px;
      
        margin-left: 15px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

     .header .mobile_menu_trigger span{
        display: block;
        height: 2px;
        background-color: #000000;
        width: 24px;
        position: relative;
    }

    .header .mobile_menu_trigger span:before,
    .header .mobile_menu_trigger span:after{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
    }


    
    .header .mobile_menu_trigger span:before {
        top: -6px;
       
    }
    .header .mobile_menu_trigger span:after{
        top: 6px;
       
    } 

    .header .menu {
        position: fixed;
        width: 320px;
        background: #ffffff;
        left: 0;
        top: 0;
        height: 100%;
        overflow: hidden;
        transform: translate(-100%);
        transition: all .5s ease;
        z-index: 1099;
    } 

    .header .menu.active{
        transform: translate(0%);
    }

    .header .menu > ul > li  {
       line-height: 1;
       margin: 0;
       display: block;
    }

    .header .menu > ul > li >a{
       line-height: 50px;
       height: 50px;
       padding: 0 50px 0 15px;
       border-bottom: 1px solid var(--primary-color);
       display: block;
    
    }

    .header .menu > ul > li >a i {
        position: absolute;
        height: 50px;
        width: 50px;
        top: 0;
        right: 0;
        text-align: center;
        line-height: 50px;
       transform: rotate(-90deg);
    }

    .header .menu .mobile_menu_heading {
        display: flex;
        height: 50px;
        border-bottom: 1px solid var(--primary-color);
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 501;
        position: sticky;
        background: var(--last-color);
        top: 0;
    }

    .header .menu .mobile_menu_heading.active .go-back {
        display: block;
    }
    .header .menu .mobile_menu_heading .go-back {
        height: 50px;
        width: 50px;
        border-right: 1px solid var(--primary-color);
        cursor: pointer;
        text-align: center;
        line-height: 50px;
        color: #000000;
        font-size: 15px;
        display: none;
    }

    .header .menu .mobile_menu_heading  .mobile_menu_closed {
        height: 50px;
        width: 50px;
        border-left: 1px solid var(--primary-color);
        cursor: pointer;
        text-align: center;
        line-height: 50px;
        color: #000000;
        font-size: 25px;
    }

    .header .menu .menu_main {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .header .menu > ul > li .sub_menu {
     
        visibility: visible;
        opacity: 1;
        position: absolute;
        box-shadow: none;
        margin: 0;
        padding: 15px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 65px;
        max-width: none;
        min-width: auto;
        display: none;
        transform: translateX(0%);
        overflow-y: auto;
    }

    
    .header .menu > ul > li .sub_menu.active{
        display: block;
    }

    @keyframes  slideLeft{
        0%{
            opacity: 0;
            transform: translateX(100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @keyframes  slideRight{
        0%{
            opacity: 1;
            transform: translateX(0%);
        }
        100%{
            opacity: 0;
            transform: translateX(100%);
        }
    }



    .header .menu>ul>li .sub_menu>ul>li>a {
        display: block;
    }

    .menu_overlay {
        position: fixed;
        background: rgba(0, 0, 0, .5);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1098;
        visibility: hidden;
        opacity: 0;
        transition: all .5s ease;
    }

    .menu_overlay.active{
        visibility: visible;
        opacity: 1;
    }
}

/* Header End Here*/