@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

:root {
  --primary-font: "Hind Siliguri";
  --primary-color: #002c53;
  --secondary-color: #f0c456;
  --last-color: #ffa155;
  --bg-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}


body {
    line-height: 1.5;
    overflow-x: hidden;
}

/* Navbar Start */
.banner {
    background: url(./image/hero_bg.jpg);
    width: 100%;
    height: 100vh;
    display: block;
    background-size: cover;
    background-position: center;
}

/* Banner End */

/* Header Start  Here*/
.header {
    display: block;
    width: 100%;
    z-index: 99;
    position: relative;
    padding: 5px 0px 0px 0px;
    background-color: var(--last-color);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.v-center {
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.header .item_left {
    flex: 0 0 0%;
    display: none;
}



.header .item_center {
    flex: 0 0 100%;
}

.header .item_right {
    flex: 0 0 0%;
    display: flex;
    justify-content: flex-end;
    display: none;
   
}



.header .menu > ul > li {
    display: inline-block;
    line-height: 30px;
    margin-left: 20px;
}

.header .menu>ul>li>a {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
    transition: color .3s ease;
    text-decoration: none;
  padding-top: 10px ;
  display: block;
}

.header .menu>ul>li:hover>a {
    color: var(--primary-color);
}


.header .menu>ul>li .sub_menu {
    position: absolute;
    z-index: 500;
    background: url(../image/Group\ 291.png), rgb(255, 255, 255);
    box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, .3);
    /* padding: 10px 30px; */
    transition: all .5s ease;
    margin-top: 25px;
    opacity: 0;
    visibility: hidden;
    border-top: 3px solid var(--primary-color);
}



@media screen and (max-width:1200px) {
    .header .menu > ul > li {
        margin-left: 15px ;
    }
    .header .menu>ul>li>a {
        font-size: 15px;
    }
    .header .item_center {
        /* order: 3 !important; */
        flex: 0 0 100%;
    }
}


@media screen and (min-width:992px) {
    .header .menu>ul>li.menu_item_has_children:hover .sub_menu {
        margin-top: 12px;
        visibility: visible;
        opacity: 1;
    }
}


.header .item_right  {
    display: block;
}


.header .menu>ul>li .single_column_menu {
    min-width: 250px;
    max-width: 300px;
}

.header .menu>ul>li .sub_menu>ul>li {
    line-height: 1;
}

.header .menu>ul>li .sub_menu>ul>li>a {
    display: inline-block;
    padding: 10px 0;
    font-size: 18px;
    color: var(--primary-color);
    transition: color .3s ease;
    text-decoration: none;
    text-transform: capitalize;

}

.header .menu>ul>li .sub_menu>ul>li>a:hover {
    color: var(--primary-color);
}

.mobile_menu_heading,
.mobile_menu_trigger {
    display: none;
}


@media screen and (max-width:991px) {
    .header .item_center {
        order: 3 !important;
        flex: 0 0 100%;
    }

    .header .item_left,
    .header .item_right {
        flex: 0 0 auto;
    }

    .v-center {
        justify-content: space-between;
    } 

    .header .mobile_menu_trigger {
        display: flex;
       
        height: 30px;
        width: 30px;
      
        margin-left: 15px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

     .header .mobile_menu_trigger span{
        display: block;
        height: 2px;
        background-color: #000000;
        width: 24px;
        position: relative;
    }

    .header .mobile_menu_trigger span:before,
    .header .mobile_menu_trigger span:after{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
    }


    
    .header .mobile_menu_trigger span:before {
        top: -6px;
       
    }
    .header .mobile_menu_trigger span:after{
        top: 6px;
       
    } 

    .header .menu {
        position: fixed;
        width: 320px;
        background: #ffffff;
        left: 0;
        top: 0;
        height: 100%;
        overflow-x: hidden;
        transform: translate(-100%);
        transition: all .5s ease;
        z-index: 1099;
      
    } 


    .header .menu.active{
        transform: translate(0%);
    }

    .header .menu > ul > li  {
       line-height: 1;
       margin: 0;
       display: block;
    }

    .header .menu > ul > li >a{
       line-height: 50px;
       height: 50px;
       padding: 0 50px 0 15px;
       border-bottom: 1px solid var(--primary-color);
       display: block;
    
    }

    .header .menu > ul > li >a i {
        position: absolute;
        height: 50px;
        width: 50px;
        top: 0;
        right: 0;
        text-align: center;
        line-height: 50px;
       transform: rotate(-90deg);
    }

    .header .menu .mobile_menu_heading {
        display: flex;
        height: 50px;
        border-bottom: 1px solid var(--primary-color);
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 501;
        position: sticky;
        background: var(--last-color);
        top: 0;
    }

    .header .menu .mobile_menu_heading.active .go-back {
        display: block;
    }
    .header .menu .mobile_menu_heading .go-back {
        height: 50px;
        width: 50px;
        border-right: 1px solid var(--primary-color);
        cursor: pointer;
        text-align: center;
        line-height: 50px;
        color: #000000;
        font-size: 15px;
        display: none;
    }

    .header .menu .mobile_menu_heading  .mobile_menu_closed {
        height: 50px;
        width: 50px;
        border-left: 1px solid var(--primary-color);
        cursor: pointer;
        text-align: center;
        line-height: 50px;
        color: #000000;
        font-size: 25px;
    }

    .header .menu .menu_main {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .header .menu > ul > li .sub_menu {
     
        visibility: visible;
        opacity: 1;
        position: absolute;
        box-shadow: none;
        margin: 0;
        padding: 15px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 65px;
        max-width: none;
        min-width: auto;
        display: none;
        transform: translateX(0%);
        overflow-y: auto;
    
    }

    
    .header .menu > ul > li .sub_menu.active{
        display: block;
    }

    @keyframes  slideLeft{
        0%{
            opacity: 0;
            transform: translateX(100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @keyframes  slideRight{
        0%{
            opacity: 1;
            transform: translateX(0%);
        }
        100%{
            opacity: 0;
            transform: translateX(100%);
        }
    }



    .header .menu>ul>li .sub_menu>ul>li>a {
        display: block;
    }

    .menu_overlay {
        position: fixed;
        background: rgba(0, 0, 0, .5);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1098;
        visibility: hidden;
        opacity: 0;
        transition: all .5s ease;
    }

    .menu_overlay.active{
        visibility: visible;
        opacity: 1;
    }
}

/* Navbar End*/


/* Footer Start */
#footer {
    background: url(../image/footer_background_img_01.png), rgb(255, 229, 175);
    padding: 40px;
  }
  
  .footer_content_icon_img img {
    display: block;
    margin: auto;
    width: 180px;
    height: 180px;
  }
  
  .footer_content_icon_pragraph p {
    width: 280px;
    text-align: center;
    font-weight: 500;
    font-size: 19px;
    margin: auto;
  }
  
  .footer_content_menu_icon {
    display: block;
    margin: auto;
    text-align: center;
    justify-content: center;
  }
  
  .footer_content_menu_icon a {
    width: 45px;
    height: 45px;
    margin-left: 10px;
    display: inline-block;
    border: 1px solid var(--primary-color);
    text-decoration: none;
    transition: 0.5s ease-in-out;
  }
  
  .footer_content_menu_icon a i {
    display: block;
    text-align: center;
    line-height: 45px;
    align-items: center;
    font-size: 25px;
  }
  
  .footer_content_menu_icon a:hover {
    background: linear-gradient(
      120deg,
      rgba(0, 44, 83, 1),
      rgba(206, 133, 34, 1)
    );
    border: 1px solid transparent;
  }
  
  .footer_content_menu_icon a:hover .fa-brands {
    color: #ffff !important;
  }
  
  @media screen and (max-width: 780px) {
    .footer_content_icon_img img {
      display: inline-block;
    }
  
    .footer_content_icon_pragraph p {
      text-align: start;
      margin: 0;
    }
  
    .footer_content_menu_icon {
      display: inline-block;
    }
  
    .footer_content_menu_icon a {
      margin-left: 5px;
      margin-top: 20px;
    }
  }
  
  .footer_address_heading h1 {
    font-size: 30px;
    font-weight: 800;
  }
  
  .footer_address_menu {
    display: flex;
    gap: 10px;
  }
  
  .footer_content_page_heading img {
    padding: 0;
    margin: 0;
  }
  
  .footer_address_img a {
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    line-height: 35px;
    border: 1px solid var(--primary-color);
  }
  
  .footer_address_img img {
    width: 22px;
  }
  
  .footer_address_text h2 {
    font-size: 18px;
    font-weight: 800;
    line-height: 35px;
    color: var(--primary-color);
  }
  
  @media screen and (max-width: 1200px) {
    .footer_address_text h2 {
      font-size: 15px;
    }
  }
  
  @media screen and (max-width: 1015px) {
    .footer_address_text h2 {
      font-size: 14px;
    }
  
    .footer_address_heading h1 {
      font-size: 25px;
    }
  }
  
  @media screen and (max-width: 990px) {
    .footer_address_text h2 {
      font-size: 16px;
    }
  
    .footer_address_heading h1 {
      font-size: 25px;
    }
  }
  
  .footer_content_page_heading h1 {
    font-size: 30px;
    font-weight: 800;
  }
  
  .footer_page_content_img {
    position: relative;
  }
  
  .institution_gallery_content_img_overlay h2 {
    padding-top: 25px;
    padding-left: 25px;
    font-size: 20px;
    color: var(--bg-color);
    font-weight: 800;
  }
  
  .footer_page_content_img_overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    background: rgba(0, 44, 83, 0.5);
    height: 0;
    transition: 0.5s ease-in-out;
  }
  
  .footer_page_content_img:hover .footer_page_content_img_overlay {
    height: 40%;
  }
  
  .footer_page_content_img_overlay {
    display: flex;
    gap: 20px;
  }
  
  .footer_page_content_img_overlay_logo img {
    width: 60px;
    margin-left: 10px;
  }
  
  .footer_page_content_img_overlay_text h2 {
    font-size: 16px;
    color: var(--bg-color);
    font-weight: 800;
  }
  
  .footer_page_content_img_overlay_text h2 a {
    font-size: 16px;
    color: var(--bg-color);
    font-weight: 800;
    transition: 0.5s ease;
    text-decoration: none;
  }
  
  .footer_page_content_img_overlay_text h2 a:hover {
    font-size: 16px;
    color: var(--bg-color);
    font-weight: 800;
    transition: 0.5s ease;
    text-decoration: underline;
  }
  
  .footer_page_content_img_overlay_text p {
    font-size: 14px;
    color: var(--bg-color);
  }
  
  .footer_page_content_img_overlay_text p a {
    font-size: 14px;
    color: var(--bg-color);
    transition: 0.5s ease;
    text-decoration: none;
  }
  
  .footer_page_content_img_overlay_text p a:hover {
    font-size: 14px;
    color: var(--bg-color);
    transition: 0.5s ease;
    text-decoration: underline;
  }
  
  @media screen and (max-width: 780px) {
    .footer_content_icon_img {
      width: 250px;
      margin: auto;
      display: inline;
    }
  
    .footer_content_icon_pragraph p {
      text-align: left;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .footer_content_page_heading h1 {
      font-size: 25px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .footer_page_content_img_overlay_logo img {
      width: 45px;
      margin-left: 0px;
    }
  
    .footer_page_content_img_overlay_text h2 a{
      font-size: 10px;
  
    }
  
    .footer_page_content_img_overlay_text p a{
      font-size: 10px;
      padding: 0 !important;
      margin: 0 !important;
    }
  
    .footer_page_content_img_overlay_text p a{
      padding: 0 !important;
      margin: 0 !important;
    }
  
    .footer_page_content_img_overlay_text p a:hover{
      font-size: 10px;
    }
  
    .footer_page_content_img_overlay_text h2 a:hover{
      font-size: 10px;
      padding: 0 !important;
      margin: 0 !important;
    }
  
    .footer_page_content_img_overlay {
     
     overflow: visible;
     height: 40%;
    }
  }
  
  /* Footer End */
  
  /* Copy_Right Start */
  #copy_right {
    background: rgba(31, 36, 41, 1);
    padding: 5px;
  }
  
  .copy_right_content h1 {
    display: block;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    margin: 0px !important;
    color: var(--bg-color);
  }
  
  .copy_right_content h1 img {
    width: 20px;
    margin-right: 5px;
  }
  
  .copy_right_content p {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 18px;
    color: var(--bg-color);
  }
  
  @media screen and (max-width: 400px) {
    .copy_right_content h1 {
      font-size: 15px;
    }
  
    .copy_right_content p {
      font-size: 14px;
    }
  }
  
  /* Copy_Right End */
  
  /* Back To Top btn  */
  
  .gobtn {
    border: 2px solid var(--primary-color);
    text-align: center;
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 55px;
    bottom: 50px;
    right: 40px;
    display: none;
  }
  
  .gobtn:hover {
    background: linear-gradient(
      120deg,
      rgba(0, 44, 83, 1),
      rgba(206, 133, 34, 1)
    );
    border: none;
  }
  
  .gobtn i {
    color: #000000;
    font-size: 1.6em;
  }
  
  .gobtn:hover .fa-solid {
    color: var(--bg-color) !important;
    border-color: #fff;
  }
  
  .gobtn a {
    color: var(--bg-color);
  }
  
  /* Back To Top btn  */
  